@charset "UTF-8";
div {
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}
div:hover {
    background-color: rgb(173, 154, 190);
}