@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-image: linear-gradient(to left, #FFD0CA, #FFD0CA, #FFD0CA);
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    background-image: linear-gradient(to right, #9CB0B2, #FFD0CA, white );
    margin: 2px 518px 2px 2px;
}

.principal {
    text-align: center;
}
.paragrafo {
    text-align: center;
}

body > header {
    background-image: linear-gradient(to bottom, #9CB0B2, #9CB0B2);
    width: 1329px;
    height: 139px;
    position: static;
    padding: 10px;
    margin: -8px;
}

nav {
    background-color: #9CB0B2;
    padding: 1px;
}

nav > a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    border-radius: 30px;
    width: 800px;
    padding: 10px;
    margin: auto;
    margin-top: 8px;
}

article > h1 {
    font-family:'Bebas Neue', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(to right, #9CB0B2, #FFD0CA, white );
    margin: 2px 518px 2px 2px;
}

.secso {
    display: block;
    margin: auto;
}

.sexodois {
    display: block;
    margin: auto;
}

.sexotres {
    display: block;
    margin: auto;
}

.sexoquatro {
    display: block;
    margin: auto;
}
.viado{
    background-color: #d4cfae;
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 70px;
    width: 800px;
    height: 256.99px;
}
div {
    background-color: #a6a3ad;
    border-radius: 15px;
    padding-bottom: 45px;
    width: 800px;
    height: 270.99px;
}
.aprender {
    border-radius: 5px;
    background-color: #FFD0CA;
    padding-left: 8px;
    padding-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
.afastar{
    padding-left: 10px; 
    padding-bottom: 0px;   
    padding-top: 0px;
}
aside{
    padding: 1px;
}
ul{
    display: inline-block;
    padding-left: 75px;
}
.borda{
    padding-left: 10px;
    padding-bottom: 15px;
}
footer {
    background-color: #9CB0B2;
    text-align: center;
}